$color-shadow : rgba(0,0,0,0.2);
$color-white : #FFFFFF;

//border
$border-red-dark : rgb(167, 54, 54);
$border-gray-dark : rgb(52, 50, 50);

//bakcgrounds
$background-gray-dark : rgb(64, 62, 62);
$background-gray-light : rgb(100, 99, 99);
$background-gray-active : rgb(137, 136, 136);
$background-shimmer : rgb(208, 205, 205);
$background-shimmer-dark : rgb(184, 178, 178);