.button {

  background: transparent;
  outline: none;
  transition: background .3s;
  border-radius: .8rem;
  font-weight: 500;
  font-size: 1.4rem;
  padding: .3rem .7rem;

  &:focus,
  &:active {
    outline: none;
  }

  // disabled  state

  &:disabled {
    cursor: auto;
  }

  &:disabled > * {
    opacity: .5;
  }
}



